*{
  /*border: 1px solid red;*/
  font-family: 'Quicksand', sans-serif;
}

body{
  background-color: snow;
  display: flex;
}

.col-md-3{
  min-width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#statsbox{
  display: flex;
  border-radius: 8px;
  box-shadow: 0 0 3px 0px black;
  height: 350px;
  width: 320px;
}

#stats{
  align-self: center;
  min-width: 250;
  border: 1px solid black;
  margin-left: 10px;
  padding: 5px;
}

#stats > h3{
  padding: 0;
  margin: 0;
  border-bottom: 1px solid black;
}

#stats > div{
  font-weight: bold;
}

#stats > div > span{
  font-weight: normal;
}
#graphs{
  display:flex;
  padding: 20px;
  align-items: flex-end;
}
#graphs > div{
  width: 20px;
  height: 100%;
  border-radius: 8px;
  margin: 5px;
  opacity: .7;
}

#Work-remaining{
  background-color: seagreen;
  transition: height 0.3s;
}

#Break-remaining{
  background-color: #FF0D00;
  transition: height 0.3s;
}
#timesetters{
  display: flex;
  justify-content: center;
  border: 0px solid black;
  border-radius: 6px;
  box-shadow: 3px 10px 40px 0 black;
}

.set{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 30px 5px 30px;
  padding: 10px;
}

.buttons{
  display: flex;
  margin: 5px;
  align-items: center;
}

.button{
  margin: 5px;
  font-size: 20px;
  min-width: 15px;
  text-align: center;
  border-radius: 6px;
  /*border: 1px solid black;*/
  background-color: #ff9d82;

}

.button:hover, #start:hover{
  cursor: pointer;
}

#workTime, #breakTime{
  font-size: 50px;
  border: none;
  min-width: 100px;
  background-color: snow;
}

#start{
  margin-top: 20px;
  font-size: 30px;
}

#sess-type{
  transition: 2s;
}
#clock{
  margin: 20px;
  font-size: 50px;
  width: 300px;
  height: 300px;
  padding:50px;
  border-radius: 50%;
  border: 10px solid dodgerblue;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 30px 0px black;
}


#sess-type{

}
